* {
	margin: 0;
	padding: 0;
}

header {
	position: fixed;
	width: 100%;
	height: 100vh;
	background-color: #434344;
}

.header-panel {
	display: flex;
	align-items: center;
	width: 100%
	height: 85px;
	padding: 40px;
	padding-right: 0px;
	font-family: 'Montserrat', sans-serif;
	//font-weight: bold;
	font-size: 20px;
	color: white;
}

.header-logo>img {
	height: 40px;
	width: 250px;
}

.header-phone {
	margin-left: 80px;
	width: 500px;
}


.header-nav {
	display: flex;
	justify-content: flex-end;
	width: 100%;
}

.header-nav>div {
	margin-right: 80px;
}

.header-nav>div:hover {
	color: #5472e3;
}