/*****GENERAL*******/
@highlight: #5472e3;
@lightbg: #f5f5f5;
@lighterbg: white;
@darkbg: #343a40;
@evendarkerbg: #23292f;
@TextOnWhite:#777777;



.hidden {
  opacity: 0;
}

.rot45deg {
  transform: rotate(45deg);
  top: 10px !important;
}

.rot-45deg {
  transform: rotate(-45deg);
}



* {
	margin: 0;
	padding: 0;
	font-family: 'Montserrat', sans-serif;
}

html{
	scroll-behavior: smooth;
}
header {
	position: relative;
	z-index: 5;
	box-sizing: border-box;
	width: 100%;
	height: 100vh;
	background-color: #434344;
	overflow: hidden;
}

p{
	font-weight:300;
}
main{
	position: relative;
	z-index: 4;
}
body ul li {
  list-style-type: none;
}

.basic-block {
	box-sizing: border-box;
	width: 100%;
	text-align: center;
	padding: 120px 20px;
	&>div{
		position: relative;
		z-index: 2;	
	}
}
/******header*****/
.header{
	&-panel{
		position: fixed;
		z-index: 2;
		box-sizing: border-box;
		display: flex;
		align-items: center;
		width: 100%;
		height: 85px;
		padding: 40px;
		padding-right: 0px;
		//font-weight: bold;
		font-size: 20px;
		color: white;
		&>div{
			position: absolute;
			z-index: 3;
		}
		&-bg{
			box-shadow: 0 0 20px rgba(0, 0, 0, 0.75);
			z-index: 1 !important;
			position: absolute;
			top: 0;
			left: 0;
			opacity: 0;
			background-color: white;
			width:100%;
			height:100%;	
		}
	}
	&-slider{
		position: absolute;
		width: 100%;
		z-index: 1;
	}
	&-text{
		font-size: 12px;
		font-weight: 500;
		text-decoration: none;
		color: white;
	}
	&-phone {
		padding-top: 9px;
		left: 320px;
		width: 185px;
	}
	&-logo{
		&>img{
			height: 40px;
			width: 250px;
		}
	}
	&-nav {
		position: absolute;
		right: 0;
		top: 0;
		height: 100%;
		width: 100%;		
		z-index: 2 !important;
		display: flex;
		justify-content: flex-end;
		text-align: right;
		//width: 100%;
		&>div{
			margin-right: 20px;
			&>a{
				&:hover{
					cursor:	pointer;
					color: @highlight !important;
				}
			}
		}
	}
}

.about-text{
	position: relative;
	z-index: 2;
	display: inline-block;
	//width: 80%;
}
.triangles{
	z-index: 1 !important;
	display: block;
	width: 100%;
	height: 100%;
	background-image: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='100' height='100'><path d='M0 100 V 90 L 10 100 Z' fill='%23212529' fill-opacity='0.03'></path><path d='M0 90 V 80 L 10 90 Z' fill='%23212529' fill-opacity='0.045'></path><path d='M10 100 V 90 L 20 100 Z' fill='%23212529' fill-opacity='0.025'></path><path d='M0 90 H 10 V 100 Z' fill='%23212529' fill-opacity='0.06'></path></svg>");
	position: absolute !important;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-repeat: no-repeat;
	background-position: 0 100%;
    background-size: 100% auto;
	box-sizing: border-box;
}

.bb{
	
	&-white{
		position: relative;
		background: @lightbg;
		.triangles-left{
			transform: scaleY(-1);
		}
		.triangles-right{
	    	transform: scaleX(-1);
		}
		.p400{
			color:@darkbg;
			max-width:400px;
		}
	}
	&-black{
		position: relative;
		background: @darkbg;
		.triangles-left{
			transform: scaleY(-1);
			filter: invert(100%);
		}
		.triangles-right{
			transform: scaleX(-1);
			filter: invert(100%);
		}
		.p400{
			color:@lightbg;
			max-width:400px;
			margin-top:20px;
		}
		h1{
			color:@lightbg;
		}
		//width:100vw;
		@media (min-width: 1200px){
			padding-bottom: 10px;
		}
	}
}


.separator{
	display: block;
	height: 2px;
	margin: 0 100px 50px 100px;
	left: 50%;
	transform: translateX(-100%);
	width: 200px;
	background-color: @highlight;
}
@media (min-width: 1200px){
	.sep-hor{
		display: inline-block;
		position: absolute;
		left: 0; transform: none;
		top: 190px;
		margin: 0 30px;
		width: 2px;
		height: 200px;
	}
}

.about{
	&-list{
		display: inline-block;
		text-align: left;
		list-style: none;
		padding-left:20px;
		&>li{
			font-weight: 300;
			&::before{
				content: "●"; color: @highlight;
  				display: inline-block; width: 1em;
  				margin-left: -1em;
			}
		}
	}
}

.contact{
	&-form{
		display: inline-block;
		position: relative;
		z-index: 10;
		vertical-align:top;
	}
	&-map{
		display: inline-block;
		position: relative;
		z-index: 10;
		vertical-align:top;
		&>p{
			color: white;
		}
	}
}


#tempPlane{
	width: 100%;
	height: 100%;
}

.black-panel{
	position: absolute;
	width: 100%;
	height: 100vh;
	background-color: black;
	opacity: 0.75;
}
.trLink{
	z-index: 5;
	position:absolute;
	margin: 0 auto;
	left: 50%;
	top: 30%;
	transform: translateX(-50%);
	//transform: translateY(-50%);
	text-align:center;
	&>h1{
		&>a{
			color: white;
			font-weight: 700;
			text-decoration: none;
			font-size: 48px;
		}
	}
	&>p{
		font-size: 20px;
		color: white;
		opacity: 0.7;
		font-weight: 300;
	}
}
.copyright{
	position: absolute;
	left:50%;
	top: 35px;
	transform:translateX(-50%);
}
.footer{
	&-contact{
		position:absolute;
		right:20px;
		top:10px;
		text-align:right;
	}
	&-text{
		color: @lighterbg;
	}
}

footer{
	position:relative;
	box-sizing: border-box;
	width: 100%;
	height: 85px;
	background-color: @evendarkerbg;
}

.nav { 			//Должно быть, вы искали header-nav? 
 // background-color: #000;
 	display: inline-block;
  	width: 100%;
  	height: 85px;
  	position: fixed;
  	z-index: 10;
  	clear: both;
}
ul{
	&#menu{
		//box-shadow: 0 0 10px rgba(0,0,0,0.75);
		position: absolute;
		z-index: 5;
  		display: none;
  		margin: 85px 0 0 0;
  		width: 200px;
  		right: 40px;
  //	border-bottom: 5px solid rgba(0,0,0,0.2);
  		li{
  			a{
  				width: 200px;
  				display: inline-block;
  				background-color: @lighterbg;
  				//color: #000;
  				height: 1em;
  				//font-size: 1em;
  				padding: 1.5em 1.6em;
  				transition: background 0.2s;
  				text-decoration: none;
  				&:hover{
  					color: @highlight !important;
  				}
  			}
  		}	
	}
	&.hamburger{
		 display: block;
		li {
  			height: 5px;
  			background: #000;
  			content: "";
  			position: relative;
  			transition: 0.25s ease-in-out;
  			&:nth-child(1) {
 				top: 0;
			}
			&:nth-child(2) {
  				top: 5px;
			}
			&:nth-child(3) {
  				top: 10px;
			}		
		}
	}
}

@media screen and (min-width: 1280px) {
  	.hamburger-container {
    	display: none;
  	}
	.nav{
		ul#menu {
			display: inline;
			text-align: left;
			width: 100%;
			position: relative;
			li{
				display: inline-block;
    			margin-right: -5px;
				a{
					margin-top: 20px;
  					width: 100%;
				}
			}
  		}
	}
}

.hamburger-container {
position: relative;
	z-index: 2;
  width: 38px;
  margin: 1.2em 1.6em;
  height: 30px;
  cursor: pointer;
  float: right;
}

@media screen and (max-width: 600px) {
	.header-phone{
	display: none;
	}
}


/*********************TRAINING BLOCK***************************/
#training{
	z-index:6;
}

.openList{
	margin:20px 0;
	overflow: hidden;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
}


/////////COLORS FOR TEXT
.text-dark{
	color:@TextOnWhite;
}
.text-light{
	color:white;
}

///////COLORS FOR DROPDOWN PANEL
.aandopen(@color){
	user-select: none;
	cursor: pointer;
	height: 50px;
	padding-top: 10px;
	width:100%;
	background-color:@color;
	border-top: 2px solid rgba(0, 0, 0, 0.1);
	border-bottom: 2px solid rgba(0, 0, 0, 0.1);
	font-size:30px;
	color:#fff-@color;
}
.aandopen-light{
	.aandopen(darken(@lightbg,5%));
}
.aandopen-dark{
	.aandopen(darken(@darkbg,5%));
}

.training(@MainColor,@SecondaryColor){
	text-align: center;
	background-color: @MainColor;
	.p300{
		width:240px;
	}
	box-shadow: 0 0 20px rgba(0,0,0,0.5) inset;
	div{
		display: inline-block;
		width:750px;
		margin-top: 20px;
		text-align:center;
		& when (@MainColor = @darkbg) 
			{
			.text-light;
    	}
		& when (@MainColor = @lightbg) 
			{
			.text-dark;
    	}
		margin-bottom: 20px;
		table{
			width:750px;
			background-color:@SecondaryColor;
			border-radius:10px;		
			& when (@MainColor = @darkbg) 
				{
				color:black;
				tr:nth-child(2n) {
					.text-light;
				}
    		}
			& when (@MainColor = @lightbg) 
				{
				.text-light;					
    		}
			border-spacing:0;
			text-align:center;
			font-weight:300;
			overflow: hidden;
			margin:10px 0;
			th{
				padding:10px 5px;
				text-align:center;
			}
			td{
				padding:10px 10px;
			}
			td:nth-child(2) {
				text-align:left;
			}
			td:nth-child(1) {
				text-align:left;
			}
			td:last-child{
				min-width:100px;
			}
			tr:nth-child(2n) {
				background: @TextOnWhite;
			}
			
			.liketh{
				background: @TextOnWhite;
			}		
		} 	
	}
	.nolimit{
		width:auto;
		text-align:center;
		div{
			width:auto;
		}
	}
}

.training{
	&-light{
		.training(@lightbg,@darkbg);
	}
	&-dark{
		.training(@darkbg,@lightbg);
	}
}


.flex{
	display:flex;
	padding:20px;
	justify-content:space-around;
	p{
  		flex: 2 200px;
  		padding:20px 20px;
	}
	div{
		text-align:left;
		p{
			padding:4px 20px;
		}
	}	
}
.flexcol{
	flex-direction:column;
	align-items:center;
}
.sponsors{
	.flex{
		padding:0 10px;
		margin:0;
		justify-content:space-around;

		div{
			text-align:center;
		}
	}
}

.almost-basic-block{
	//background-color: @lighterbg;
	padding: 100px 0 0 0;
}

///////PICTURES
.pictures{
	margin-top:-150px;
	img{
		width:400px;
		height:250px;
		border-radius:20px;
		z-index:2;
		position:relative;
//		margin:-10px 0;
	}
	.up{
		margin:0 -40px -25px -40px;
		z-index:3;
		width:450px;
		height:300px;
	}
	@media screen and (max-width: 1240px) {
		img{
			width:300px;
			height:150px;
		}
		.up{
			width:350px;
			height:200px;
		}
	}
}

